.title3{
	font-size: 20px;
	font-weight: bold;
}

.quote .crs_tex{
	font-size: 16px;
	padding-bottom:60px;
	font-family: 'Varela Round', sans-serif, Noto Sans TC;
}

/* Key Visual */
.keyvisual{
	height: calc(100vh - 105px);
	overflow: hidden;
}

.keyvisual_bgi{
	background-image: url(../img/course.png);
	background-repeat: no-repeat;
	background-size: 100%;
	background-size: cover;
	height: calc(100vh - 105px);
	transition: all 5s;
}

.keyvisual:hover .keyvisual_bgi{
	transform: scale(1.1);
}

/* quote */

.quote{
	text-align: center;
	background-image: url(../img/background-quote.png);
	padding-top: 60px;
	padding-bottom: 60px;
 
}

.quote p{
  letter-spacing:3px;
	line-height: 38px; 
  padding-top: 20px;  
}

.quote p:after{
	content: " ";
	background-color: #A0BD90;
	width: 50px; 
	height: 3px;
	display: block;
	margin: 0 auto;
  margin-top: 30px;
}

/* 內容區 */
:root{
	--course-height: 595px;
	--course-width: 380px;
}

.main{
	background-image: url(../img/background-b.png);
	position: relative;
}

@media screen and (min-width: 1199px) {
	.main::after {
		width:1.5px; 
		height: 100%;
		content: " ";
		background-color: #A0BD90;
		margin: 0 auto;
		position: absolute;
		top: -30px;
		} 
}

/* position */
.main_inner{
	position: relative;
	padding-bottom: 100px;
}

/* 課程的位置 */
.main_inner > .course{
	width: var(--course-width);
	height: var(--course-height);
	text-align: left;
	box-sizing: border-box;
	background-color: #fff; 
	box-shadow: 10px 10px 15px #E2CDAE;
	display: block;
	position: relative;
	border-radius: 5px;   
	margin: 5px 50%-(var(--course-width))/2;
	left: 100px;
}

.main_inner > .course:nth-child(2n){
	left: 720px;
}

@media screen and (max-width: 1199px){
	.main_inner > .course{
		display: block;
		position: initial;
		border-radius: 5px;   
		margin: 0 auto 50px;
	}
}

@media screen and (max-width: 575px){
	.main_inner > .course{
		width: var(--course-width)*75%;
	}
}

.course h3{
	display: block;
	position: absolute;
	bottom: 190px;
	left: 10%;
}

.course h3:after{
	content: " ";
	background-color: #A0BD90;
	width: 36px; 
	height: 3px;
	position: absolute;
	top:40px;
	left: 0px;
	display: block;
	margin: auto;
}

.course p{
	display: inline-block;
	position: absolute;
	/* width: 340px; */
	width: 80%;
	top: 450px;
	/* left:25px; */
	left: 10%;
	text-align: left;
}

/* 葉子的位置 */

@media screen and (min-width: 1200px) {
	.leaf_lft{
		position: absolute;
		left: 460px;
		top: 5px;
		width: 60px;
	}
	
	.leaf_rt{
		position: absolute;
		left: -140px;
		top: 5px;
		width: 60px;
	}
}

@media screen and (max-width: 1199px) {
	.leaf_lft{
		display: none;
	}
	
	.leaf_rt{
		display: none;
	}
}