* {
	box-sizing: border-box;
	outline: none;
  }

body{
	position: relative;
}

.title3{
	font-size: 20px;
	font-weight: bold;
}

.quote .crs_tex{
	font-size: 16px;
	font-family: 'Varela Round', sans-serif, Noto Sans TC;
}

/* Key Visual */
.keyvisual{
	height: calc(100vh - 105px);
	overflow: hidden;
	background-position: center 0;
}

.keyvisual_bgi{
	background-image: url(../img/diy_main.png);
	background-repeat: no-repeat;
	background-size: 100%;
	background-size: cover;
	height: calc(100vh - 105px);
	transition: all 5s;
}

@media screen and (min-width: 768px) and (max-width: 991px){
	.keyvisual_bgi{
		background-position: center;
		transition: all 5s;
	}
}

@media screen and (max-width: 575px){
	.keyvisual_bgi{
		background-image: url(../img/diy_main_rwd.png);
		background-position: 0 -15px;
		transition: all 5s;
	}
}

.keyvisual:hover .keyvisual_bgi{
	transform: scale(1.1);
}

/* quote */

.quote{
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
}

.quote p{
	letter-spacing:3px;
	line-height: 38px; 
}

.quote p:after{
	content: " ";
	background-color: #A0BD90;
	width: 50px; 
	height: 3px;
	display: block;
	margin: 0 auto;
	margin-top: 30px;
  }

/* main */
.main_inner{
	max-width: 1000px;
	width: 100%;
}

/* 選單區 */

.top_block{
	padding-top: 50px;
}

@media screen and (max-width: 767px){
	.top_block{
		padding-top: 0px;
	}
}

.menuitem{
	width: 25%;
	cursor: pointer;
	position: relative;
}


.item{
  /* position: relative; */
}

.img_base, .img_top,.img_mid,.img_last{
  position: absolute;
  top:0;
  left:0;
  opacity: 0;
}

.img_base{
  top:-40px;
  left:0;
}

.img_top{
  top:-40px;
  left:-20px;
}

.img_mid{
	height: inherit;
}

.img_last{
	width: 90%;
}

@media screen and (min-width: 768px) and (max-width: 991px){
	.img_base, .img_top,.img_mid,.img_last{
		position: absolute;
		left:0;
		opacity: 0;
		/* outline: 1px solid red; */
	}

	.img_base{
		top:-20px;
		left:0;
	}

	.img_top{
		top:-20px;
		left:-20px;
	}
	.img_mid{
		height: 80%;
		top:15px;
	}
	.img_last{
		width: 80%;
		top:15px;
	}
}

/* hover的背景色跟底線 */
.bottomline{
	position: absolute;
	bottom:0;
	left: 0px;
	width: 100%;
	height: 0;
	background-color: rgba(160, 189, 114, .5);
	transition: height 0.5s ease-out;
}

@media screen and (min-width: 768px){
	.menuitem:hover .bottomline{
		height: 100%;
	}
}

/* click後出現的下底線 */
.underline{
	border-bottom: 2px solid #A0BD90;
}

.menuitem .baselink{
	display: flex;
	margin: 0 auto;
	align-items: center;
	overflow: hidden;
	height: 60px;
	position: relative;
}

.baselink .pic{
	position: absolute;
	top: 0;
	left: 25%;
	z-index: 999;
	width: 60px;
	height: 120px;
	overflow: hidden;
}
@media screen and (min-width: 768px) and (max-width: 991px){
	.baselink .pic{
		left: 15%;
	}
}

.baselink img{
	height: 60px; 
	display: block;
}

@media screen and (max-width: 767px){
	.menuitem .baselink{
		height: 50px;
	}

	.baselink .pic{
		display: none;
	}
	.baselink img{
		display: none;
	}
	}

.baselink h3{
	line-height: 60px;
	position: absolute;
	top: 0;
	left: 50%;
	z-index: 999;
}

@media screen and (max-width: 767px){
	.baselink h3{
		transform: translateX(-50%);
	}
}

/* hover state */
@media screen and (min-width: 768px){
	.menuitem:hover h3{
		transform: translateY(-60px);
		transition: 1s;
	}
	
	.menuitem:hover .pic{
		transform: translateY(-60px);
		transition: 1s;
	}
}

.main{
	padding-bottom: 50px;
}


.mid_block, .bottom_block{
	background-color: #FFFFFF ;
	border-radius: 20px;
}

@media screen and (min-width: 768px){
	.inner_block{
		display: flex;
	}
}

.left_area{	
	width: 50%;
	display: inline-block;
	padding: 8% 0 5% 10%;
}

@media screen and (min-width: 768px) and (max-width: 991px){
	.left_area{	
		width: 55%;
		padding: 8% 0 5% 5%;
	}
}

@media screen and (max-width: 767px){
	.inner_block{
		display: block;
	}

	.left_area{	
		width: 100%;
		display: block;
		padding: 8% 0 0% 0%;
	}
}

.title{
	text-align: left;
}

.title h1{
	display: inline-block;
	text-align: left;
	color: #A0BD90;
}

.sub_title{
	font-size: 20px;
	padding-left: 5%;
	vertical-align: middle;
}

@media screen and (max-width: 767px){	
	.title h1{
		text-align: center;
		padding-left: 50px;
	}
	
	.title .sub_title{
		/* text-align: center; */
		font-size: 20px;
		padding-left: 10px;
		vertical-align: middle;
	}
}

.left_area p{
 width: 70%;
 margin: 3% auto;
 text-align: left;
 position: relative;
}

.left_area p:before{
	content: " ";
	background-color: #A0BD90;
	width: 1px; 
	height: 90%;
	position: absolute;
	top:5%;
	left: -50px;
	display: block;
}

.sidemenuarea{
	width: 75%;
	margin: 0 auto;
}

@media screen and (max-width: 767px){
	.sidemenuarea{
		display: none;
	}	
	
	.left_area p{
		width: 70%;
		margin: 3% auto;
		padding-left: 20px;
		text-align: left;
		position: relative;
	 }

	.left_area p:before{
		left: 0px;
	}
}

.sidemenu{
	display: flex;
}

.sidedot{
	width: 50px;
	background-image: url(../img/drip.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 10% 10%;
	vertical-align: middle;
	line-height: 80px;
	flex-grow: 1;
	cursor: pointer;
}

.sidedot:hover{
	background-image: url(../img/drip_green.png);
}


/* 中間的左邊那區 */

.right_area{
	width: 50%;
	display: inline-block;
	padding: 2% 10% 3% 0%;
}

@media screen and (min-width: 768px) and (max-width: 991px){
	.right_area{
		width: 45%;
		padding: 2% 0% 3% 0%;
	}
}

@media screen and (max-width: 767px){
	.right_area{
		width: 100%;
		padding: 2% 0% 3% 0%;
	}
}

/* 輪播區域 */
.splide{
	width: 350px;
	margin: 0 auto;
}

.splide__track{
	width: 70%;
	margin: 0px auto;
}

@media screen and (min-width: 768px) and (max-width: 991px){
	.splide{
		width: 100%;
	}

	.splide__track{
		width: 80%;
	}

	.last_img{
		width: 85%;
	}
}

@media screen and (max-width: 767px){
	.splide__slide img{
		height: 100px;
	}
}


/* 箭頭區域 */
.splide__arrow{
	background-color: transparent;
	top: 40%;
}

.splide__arrow--prev{
  background-image: url(../img/arrow_p.svg);
  background-repeat: no-repeat;
  background-position: 5px 0;
}

.splide__arrow--next{
  background-image: url(../img/arrow_n.svg);
  background-repeat: no-repeat;
  background-position: 5px 0;
}

.splide__arrow--prev svg {
  display:none ;
}

.splide__arrow--next svg {
  display:none ;
}

.splide__pagination__page{
	width: 50px;
	height: 40px;
}

.splide__pagination__page{
	border-radius:initial;
	background-color: transparent;
}

.splide__pagination__page.is-active {
	border-radius:initial;
	background-color: transparent;
}

/* 圖文下方文字區 */

.info_tex h3{
	line-height: 50px;
	font-weight: bold;
	text-align: center;
}

.btn_add{
	width: 35px;
	height: 35px;
	cursor: pointer;
	margin-top: 10px;
}

.btn_add img{
	display: block;
}

@media screen and (min-width: 1200px){
	.btn_add img{
		transition: .3s;
	}
	.btn_add:hover img {
		transform: rotate(180deg);
		transform-origin: 50% 50%;
		transition: 1s;
	}
}


/* 下方區域 固定式版型 */
.bottom_block{
	margin-top: 50px ;
	padding: 20px;
}

@media screen and (min-width: 768px) and (max-width: 991px){

}

.choice{
	display: grid;	
	grid-template-rows: 250px;
	grid-template-columns: repeat(4, 200px);
	grid-gap: 0px 40px;
	margin: 40px auto 0px;
	justify-self: center;
	max-width: 920px;
	width: 100%;
}

.choice_item_area{
	background-color: rgba(254, 248, 239, 0.5);
	width: 200px;
	height: 250px;
	clip-path: polygon(53% 1%, 85% 6%, 94% 20%, 99% 73%, 82% 90%, 61% 99%, 19% 93%, 2% 81%, 1% 23%, 9% 6%);
	position: relative;
}

@media screen and (min-width: 768px) and (max-width: 991px){
	.choice{
		display: grid;	
		grid-template-rows: 210px;
		grid-template-columns: repeat(4, 160px);
		grid-gap: 0px 10px;
		margin: 20px auto 0px;
		width: 100%;
	}
	
	.choice_item_area{
		background-color: rgba(254, 248, 239, 0.5);
		width: 160px;
		height: 210px;
		position: relative;
	}
}

.finish{
	background-color: transparent;
  border: none;
  color: #7B6363;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 50px;
	font-family: rage;
  cursor: pointer;
}

button.finish::after{
	content: " ";
	background-color: #7B6363;
	width: 60px; 
	height: 1px;
	display: block;
	margin: 0 auto;
  margin-top: -10px;
	opacity: 0;
	transition: 0.5s;
}

button.finish:hover::after{
	opacity: 1;

}

/* 那個叉叉 */
.btn_remove{
	position: absolute;
	top: -10px;
	right: 10px;
	width: 30px;
	height: 30px;
	padding: 0;
	cursor: pointer;
}

@media screen and (min-width: 768px) and (max-width: 991px){
	.btn_remove{
		position: absolute;
		top: -12px;
		right: 5px;
	}
}

/* hover state */
@media screen and (min-width: 768px){
	.choice_item_area:hover .btn_remove{
		transform: translate(-30PX, 30px);
		transition: 0.3s;
	}

	.fa-times-circle{
		font-size: 20px;
	}

	.fa-times-circle{
		color: #927A74;
		font-weight: lighter;
	}
	.rwd_bottom_block{
		display: none;
	}
}

/* 下方區域 手機板 */
@media screen and (max-width: 767px){
	.bottom_block{
		display: none;
	}

	.rwd_bottom_block{
		display: block;
		border-right-color: #fff;
		width: 100vw;
	}

	.rwd_choice{
		width: 100vw;
		padding-top: 10px;
	}
	
	.rwd-item_area{
		display: inline-block;
		background-color: rgba(254, 248, 239, 0.5);
		border-radius: 10%;
		width: 24%;
		height: 140px;
		position: relative;
		border: 0.5px solid #E2CDAE;
	}

	.rwd_finish{
		border: 0.5px solid #7B6363;
		color: #7B6363;
		font-family: Varela Round;
    width: 70px;
    height: 40px;
    line-height: 40px;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 2px 2px 5px #E2CDAE;
    font-size: 14px;
    text-align: center;
    margin: 5px;
	}

	.rwd_btn_remove{
		position: absolute;
		top: 5px;
		right: 5px;
		width: 30px;
		height: 30px;
	}

	.rwd_btn_remove .fa-times-circle{
		font-size: 14px;
		font-weight: lighter;
		color: #7B6363;;
	}

	.img_base, .img_top,.img_mid,.img_last{
		pointer-events: none;
		top: 0;
		left: 0;
		height: 90%;
	}

	.img_base{
		left: 15px;
	}
	.img_mid{
		top: 15px;
		height: 80%;
		left: 15px;
	}
	.img_last{
		top: 15px;
		height: 80%;
	}
	.fa-times-circle{
		color: #927A74;
		font-weight: lighter;
	}
}

.menubar{
	display: flex;
	margin: 0 auto;
}

.img_base, .img_top,.img_mid,.img_last{
	pointer-events: none;
}

/* 景深 */
.blur{
  filter: blur(3px);
	transition: 3s;
}

/* 隱藏區塊_固定板型 */
@media screen and (min-width: 768px){
	.rwd_yours{
		display: none;
	}

	.yours{
		position: fixed;
		top: 0;
		right: -100vw;
		width: 100%;
		height: 10px;
		justify-content: center;
		align-items: center;
	}

	.yours_inner{
		position: absolute;
		top: 50%;
		left: 50%;
		opacity: 0;
		width: 630px;
		height: 420px;
		padding: 40px 60px;
		transform: translate(-50%, -50%);
		border-radius: 20px;
		background-color: #fff;
		box-shadow: 2px 2px 5px #E2CDAE;
	}

	.yours_main{
		display: flex;
	}
	.yours_right, .yours_left{
		width: 50%;
	}

	.yours h1{
		text-align: center;
		opacity: 0;
		font-weight: bold;
	}

	.yours_left img{
		opacity: 0;
		height: 85%;
		padding-top: 10px;
	}

	.yours_table{
		/* width: 50%; */
		padding: 30% 20% 20% 15%;
		padding-bottom: 20px;
		opacity: 0;
	}

	.yours_item{
		display: flex;
		position: relative;
		height: 30px;
		border-bottom: 1px solid rgb(254, 248, 239)
	}

	.yours_item h3{
		width: 60px;
		position: absolute;
		bottom: 0;
	}
	
	.yours_item p{
		width: 70px;
		position: absolute;
		bottom: 0;
		left: 50%;
		line-height:initial ;
	}
	
	.close_yours{
	position: absolute;
	right: 15px;
	top: 15px;
	width: 20px;
	opacity: 0;
	}

	.close_cart{
		text-align: center;
		opacity: 0;
		margin-left: -75px;
		/* border: 1px solid #7B6363; */
		position: relative;
	}

	.popover{
		position: absolute;
		display: none;
		top: 17px;
		left: 100px;
		width: max-content;
		color: #7B6363;
	}

	.close_cart:focus .popover{
		display: block;
	}

	.cart1{
		opacity: 0;
	}
	
	.close_cart:hover .cart2{
		transform: translate(40px);
		transition: 0.3s;
		opacity: 0;
	}
	
	.close_cart:hover .cart1{
		transform: translate(40px);
		transition: 0.3s;
		transition-delay: 0.1s;
		opacity: 1;
	}
}

/* 隱藏區塊_手機板 */
@media screen and (max-width: 767px){
	.yours{
		display: none;
	}

	.rwd_yours{
		display: none;
		margin-left: 10vw;
		width: 80vw;
		padding: 40px 20px;
		position: relative;
		position: fixed;
		top: 20%;
		border-radius: 20px;
		background-color: #fff;
		box-shadow: 2px 2px 5px #E2CDAE;
	}

	.rwd_yours h1{
		text-align: center;
		font-weight: bold;
		line-height: 30px;
	}

	.yours_upper img{
		width: 50%;
	}

	.rwd_table{
		padding: 5% 20%;
	}
	.yours_item{
		display: flex;
		position: relative;
		height: 30px;
		border-bottom: 1px solid rgb(254, 248, 239)
	}

	.yours_item h3{
		width: 60px;
		position: absolute;
		bottom: 0;
	}
	
	.yours_item p{
		width: 70px;
		position: absolute;
		bottom: -5px;
		left: 50%;
	}
	
	.rwd_close_yours{
	position: absolute;
	right: 20px;
	top: 20px;
	width: 20px;
	}

	.fa-times-circle{
		font-size: 25px;
		font-weight: bold;
		color: #FBEBCF;
	}

	.close_cart{
		position: relative;
		text-align: center;
		margin-left: -55px;
	}

	.rwd_popover{
		position: absolute;
		display: none;
		top: 17px;
		left: 100px;
		width: max-content;
		color: #7B6363;
	}

	.close_cart:focus .rwd_popover{
		display: block;
	}

	.cart1{
		opacity: 0;
	}
}


