

/* header */
.header{
    background-image: url(/img/ess0.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-size: 100%; */
    height: 425px;
    /* height: 505px; */
    padding-top: 250px;
}

.header_sc{
    background-image: url(../img/scent0.png);
    background-size: cover;
}

.header_bs{
    background-image: url(../img/bs0_b.png);
    background-size: cover;
}

.header div{
    background-color: rgba(254, 248, 239, 0.8);
    text-align: right;
    padding: 100px 50px 80px 100px;
    margin-left: 50%;
    margin-right: 20%;
    width: 400px;
}

.header .sub_title{
    font-size: 16px;
    line-height: 1.5;
    padding-top: 40px;
    font-weight: bold;
}

/* quote */

.quote p{
    text-align: center;
    background-image: url(/img/background-quote.png);
    padding-top: 60px;
    padding-bottom:60px;
    font-size: 16px;
    letter-spacing:3px;
	line-height: 38px;
    font-family: Varela Round;
}

/* items */

.main{
    margin: 0 auto;
}

.item{
    display: grid;
    grid-template-rows: 80px repeat(6, 300px);
    grid-template-columns: repeat(3, 255px);
    grid-gap: 70px 53px;
    margin: 0 auto;
    justify-self: center;
    width: 875px;
}

.item .item_menu{
    line-height: 80px;
    background-color: #fef8ef;
    font-size: 20px;
    height: 80px;
    display: flex;
    align-content: center;
    outline: none;
}

.item .m_thispage{
    background-color: #927A74;
    color: #fef8ef;
    font-weight: bold;
}

.item_menu img{
    height: 60px;
    display: inline-block;
    margin-left: 35px;
}

.m_bs img{
    margin-top: 10px;   
}

.m_sc img{
    margin-top: 10px;   
}

.item_menu h3{
    display: inline-block;
    margin-left: 20px;  
}

.item_menu .es{
    grid-area: 1/ 1/ 1/ 1;
}

.item_menu .bs{
    grid-area: 1/ 2/ 1/ 2;
}


.item_menu .sc{
    grid-area: 1/ 3/ 1/ 3;    
}

.item a{
    width: 255px;
    box-sizing: border-box;
    box-shadow: 10px 10px 15px #E2CDAE;
    position: relative;
}

.sp_it{
    border: 2px solid transparent;  
}

.sp_it:hover{
    border: 2px solid #E2CDAE;
}

/* 精油的背景瓶子 */
.it_sin{
    background-image: url(/img/bottle.png);
    background-repeat: no-repeat;
    background-size: 35%;
    background-position: center;
}

/* 香氛頁背景 */
.sc_bg_l{
    background-image: url(/img/sc_m_l.png);
    background-size: auto;
}

.sc_bg_m{
    background-image: url(/img/sc_m_m.png);
    background-size: auto; 
}
.sc_bg_r{
    background-image: url(/img/sc_m_r.png);
    background-size: auto;
}

/* 基底油的背景瓶子 */
.bsoil{
    background-image: url(/img/baseoil_m.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
}


.it_sin img{
    transition:opacity .3s ease;
    display:block; 
}

.it_sin:hover img{
    opacity: 1;
    z-index: 1;
    transition: opacity .6s ease;
}

.item a h1{
    position: absolute;
    bottom: 10px;
    left: 20px;
}

.item a p{
    position: absolute;
    bottom: 10px;
    left:75px;
    font-family: Varela Round;
}

.item .sp_it{
    width: 563px;
}

.item .sp_mt{
    width: 563px;
    height: 670px;
}

.it_sin img{
    opacity: 0;
    position: relative;
}

.it_sin .more_btn{
    position: absolute;
    top: 85px;  
    left: 90px;
}


.e1_1{
    grid-area: 2/ 1/ 2/ 1;
}

.e1_2{
    grid-area: 2/ 2/ 2/ 2;
}

.e1_3{
    grid-area: 2/ 3/ 2/ 3;
}

.e2_1{
    grid-area: 3/ 1/ 3/ 1;
}

.e2_2{
    grid-area: 3/ 2/ 3/ 3;
    background-image: url(/img/breeze_s.png);
    background-size: 63%;
    background-repeat: no-repeat;
    background-position: 186px 22px;
}



.item .e2_2 h1{
    position: absolute;
    left: 55px;
    top: 54px;
}

.e3_1{
    grid-area: 4/ 1/ 5/ 2;
    background-image: url(/img/plant3.png);
    background-size: 95%;
    background-repeat: no-repeat;
    position: absolute;
    background-position: 0px 0px;
}

.e3_1 .p1{
    top: 78px;
    right:-273px;   
}

.e3_1 .p2{
    top: 343px;
    right:-273px;  
}

.e3_1 .p3{
    bottom: 422px;
    right:-273px; 
}

.e3_1 .p4{
    bottom: 138px;
    right: -273px;    
}

.e3_3{
    grid-area: 4/ 3/ 4/ 3;
}

.e4_3{
    grid-area: 5/ 3/ 5/ 3;
}

.e5_1{
    grid-area: 6/ 1/ 6/ 1;
}

.e5_2{
    grid-area: 6/ 2/ 6/ 2;
}

.e5_3{
    grid-area: 6/ 3/ 6/ 3;
}

.e6_1{
    grid-area: 7/ 1/ 7/ 2;
    background-image: url(/img/midnight_s.png);
    background-size: 73%;
    background-repeat: no-repeat;
    background-position: 23px 23px;
}

.item .e6_1 .summer{
    position: absolute;
    left: 149px;
    top: 50px;    
    color: #FEF8EF;
}

.item .e6_1 .dream{
    position: absolute;
    left: 437px;
    top: 105px;
    color: #7B6363;    
}

.e6_3{
    grid-area: 7/ 3/ 7/ 3;
}

.e7_1{
    grid-area: 8/ 1/ 8/1;
}

.e7_2{
    grid-area: 8/ 2/ 8/ 2;
}

.e7_3{
    grid-area: 8/ 3/ 8/ 3;
}
