.contain{
    background-image: url(../img/background-b.png);
    padding-bottom: 250px;
}

.top{
    display: flex;
    margin: 0 auto;
    position: relative;
    height: fit-content;
}

@media screen and (max-width: 991px){
    .top{
        display: initial;
        position: initial;
    }
}

.left{
    width: 50%;
}

.left img{
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

/* main介紹區塊 */
.main{
    box-sizing: border-box;
    text-align: left;
    width: 50%;
    padding: 50px;
    padding-top: 70px;
}

@media screen and (min-width: 992px) and (max-width: 1199px){
    .left{
        width: 35%;
        position: relative;
    }
    
    .left img{
        position: absolute;
        right: 0;
        top: 15%;
    }
    
    .main{
        box-sizing: border-box;
        text-align: left;
        width: 65%;
        padding: 50px;
        padding-top: 70px;
    }
}

@media screen and (min-width: 992px){
    .scroll span{
        border: none;
    }

    .scroll span::before {
        background-color: transparent;
    }
}


@media screen and (max-width: 991px){
    .scroll span{
        border: 1px solid #927A74;
    }

    .scroll span::before {
        background-color: #927A74;
    }
}

@media screen and (max-width: 991px){
    .left{
        width: 100%;
        position: relative;
    }

    .left img{
        width: 100vw;
    }

    .main{
        width: 100%;
        padding-top: 10px;
    }
}

.main .title{
    font-weight: bold;
    font-family: rage;
    padding-bottom: 30px;
}

@media screen and (max-width: 991px){
    .main .title{
        display: none;
    }
}

.tex{
    width: 90%;
    position: relative;
    padding-left: 10%;
}

/* 那條線 */
.tex h2:before{
	content: " ";
	background-color: #7B6363;
	width: 1px; 
	height: 90%;
	position: absolute;
	top: 0;
	left: 2%;
	display: inline-block;
  }

@media screen and (max-width: 991px){
    .tex{
        padding-left: 0%;
    }

    .tex h2:before{
        display: none;
    }
}

.main .item_sub{
    font-size: 20px;
    padding-bottom:20px ;
}

@media screen and (max-width: 991px){
    .main .item_sub{
        font-weight: bold;
        padding-top:20px ;
    }
    
}

.main .item_sub2{
    font-size: 16px;
    padding-bottom:10px ;
}

.article{
    padding: auto;
    font-size: 14px;
    line-height: 1.8;
    padding-bottom:20px ;
    display: block;
}

.price{
    padding-top: 35px;
    display: flex;
}

.vol{
    padding-right: 20px;
}

.price_inner{
    font-family: Varela Round;
    width: 110px;
    height: 40px;
    line-height: 40px;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 2px 2px 5px #E2CDAE;
    font-size: 12px;
    text-align: center;
    margin: 0;
}

@media screen and (max-width: 991px){
    .price{
        display: initial;
    }

    .vol{
        padding-bottom: 20px;
    }
    
    .price_inner{
        width: 40%;
    }

}

li.vol:hover .price_inner{
    background-color: #927A74;
    color: #FEF8EF;
}


/* 建議搭配區塊 */
@media screen and (max-width: 991px){
    .bottom::before{
        content: " ";
        background-color: #A0BD90;
        width: 90%; 
        height: 1px;
        display: block;
        margin: 0 auto;
        margin-bottom: 70px;
    }
}

.sug{
    display: block;
    font-size: 20px;  
    font-weight: bold;
    margin: 50px auto;
}

.swiper-container {
    max-width: 600px;
    height: 300px;
    /* border: 1px solid olive; */

}
  
.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 255px;
    height: 300px;
    /* border: 1px solid red; */
}


.bottom .link{
    width: 255px;
    height: 300px;
    border-radius: 5%;
    display: inline-block;
    background-color:  rgba(254, 248, 239, 0.7);
    position: relative;
    flex-grow: 1;
    box-shadow: 5px 10px 15px #E2CDAE;
    background-image: url(../img/bottle.png);
    background-repeat: no-repeat;
    background-size: 35%;
    background-position: center;
}

.link img{
    opacity: 0;
    position: relative;
    border-radius: 5%;
}

.link .more_btn{
    /* position: absolute; */
    top: -202px;  
    left: 0px;
}

.link:hover img{
    opacity: 1;
    z-index: 1;
}

.bottom h3{
    position: absolute;
    bottom: 30px;
    left: 30px;
}

/* breadcrumb */
@media screen and (min-width: 992px){
    .breadcrumb{
        position: absolute;
        right: 10px;    
        top: 10px;
        padding: 5px 10px;
        display: block;
        /* width: 500px; */
        width: fit-content;
        text-align: right;
    }
    .breadcrumb .breadcrumb_list{
        margin: 0;
        padding: 0;
        list-style: none;
    }
    
    .breadcrumb .breadcrumb_list > li{
        display: inline-block;
        margin-right: 10px;
        color:#6DAC42;
        font-size: 14px;
    }
      
    .breadcrumb .breadcrumb_list > li::before{
        content: "/";
        font-size: 18px;
        color: #C0A995;
        margin-right: 12px;
    }
    
    div.breadcrumb ol.breadcrumb_list > li:first-child::before{
        content: "";
        margin-right: 0;
    }
      
      
    div.breadcrumb ol.breadcrumb_list > li > a{
        text-decoration: none;
        display: inline-block;
        color: #C0A995;
    }
      
    
    div.breadcrumb ol.breadcrumb_list > li > a:hover{
        color: #7B6363;
    }
    .rwd_breadcrumb{
        display: none;
    }
}

@media screen and (max-width: 991px){
    .breadcrumb{
        display: none;  
    }

    .rwd_breadcrumb{
        background-image: url(../img/background-rwd-navbar.png);
        display: block;
        /* width: 100vw; */
        text-align: end;
    }
    .rwd_breadcrumb .breadcrumb_list > li{
        display: inline-block;
        margin-right: 10px;
        color:#6DAC42;
        font-size: 14px;
    }

    .rwd_breadcrumb .breadcrumb_list{
        width: fit-content;
        margin-right: 0;
    }
      
    .rwd_breadcrumb .breadcrumb_list > li::before{
        content: "/";
        font-size: 18px;
        color: #C0A995;
        margin-right: 12px;
    }
    
    div.rwd_breadcrumb ol.breadcrumb_list > li:first-child::before{
        content: "";
        margin-right: 0;
    }
      
      
    div.rwd_breadcrumb ol.breadcrumb_list > li > a{
        text-decoration: none;
        display: inline-block;
        color: #C0A995;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px){
    .rwd_breadcrumb .breadcrumb_list{
        padding-right: 30px;
    }
}