@import url('reset.css');

@font-face {
  font-family: rage;
  src: url(../fonts/rage_Italic.ttf);
}

html, body{
  height: 100%;
}

.watercolor{
	background-image: url(../img/background-rwd.png);
}

.wrap{
	font-family: rage, Noto Sans TC;
	color: #7B6363;
	text-align: center;
	margin: 0 auto;
	position: relative;
	min-height: 100%;
}

.mid{
	max-width: 1200px;
	width:100%;
	margin: 0 auto;
}

@media screen and (min-width: 768px) and (max-width: 991px){
  .mid{
		max-width: 720px;
	}
}

@media screen and (min-width: 576px) and (max-width: 767px){
	.mid{  
		 width: 540px; 
	 } 
 }

@media screen and (max-width: 575px) {
	.mid{
		max-width: 330px;
		margin: 0 auto;
	}
	.quote p{
		max-width: 300px;
		margin: 0 auto;
	}
}

.title{
	font-size: 55px;
}

.sub_title{
	font-size: 26px;
	color: #927A74;
}

@media screen and (max-width: 767px) {
	.title{
		font-size: 35px;
	}
	.sub_title{
		font-size: 20px;
	}
}

a{
	text-decoration: none;
	font-family: rage, Noto Sans TC;
	color: #7B6363;
	text-align: center;
	margin: 0 auto;
}

p{
	font-size: 14px;
	letter-spacing:2px;
	line-height: 1.8;
}

@media screen and (max-width: 767px) {
	p{
		letter-spacing:3px;
		line-height: 1.8;
	}
}

img{
	max-width: 100%;
}

.more_bt{
	width: 85px;
}

.more_ri{
	width: 125px;
}

button{
	background-color: transparent;
	color: transparent;
	border: none;
	padding: 0px;
	box-sizing: border-box;
}

button:hover{
	cursor: pointer;
}


/* nav */
.menu{
	opacity: 0.8;
  font-size: 14px;
	transition: top .4s ease-in-out;
	width: 100%;
	position: sticky;
	top: 0px;
	z-index: 999;
	background-color: rgba(255,255,255,0.8);	
	background-image: url(../img/background-rwd-navbar.png);
	background-blend-mode: multiply;
}

.menubox{    
	display: flex;
	max-width: 1200px;
	opacity: inherit;
}

@media screen and (min-width: 768px) and (max-width: 991px){
  .menubox{
		max-width: 720px;
	}
}

@media screen and (min-width: 576px) and (max-width: 767px){
  .menubox{  
		 width: 540px; 
	 } 
 }

@media screen and (max-width: 575px) {
  .menubox{
    display: block;
    text-align: left;
		flex: none;
  }
}

.menubox .logo_fix{
	display: inline-block;
	margin-left: 15px;
	margin-top: 10px;
	font-size: 0;
}

.menu_area{
	padding-top: 35px;
	right:20px;
}

@media screen and (min-width: 576px){
	.menu_area{
		display: flex !important;
	}
}

@media screen and (max-width: 575px) {
  .menu_area{
    display: none;
    text-align: left;
		text-align: center;
		padding-top: 0px;
  }
}

.menu_area a{
  line-height: 70px;
  padding-bottom: 10px;
  padding-right: 20px;
	padding-left: 20px;
	text-align: center;
}

@media screen and (max-width: 575px) {
	.menu_area a{
		line-height: 50px;
		text-align: center;
  }

	.wrap .thispage a{
		color: #A0BD90;
		font-weight: bold;
	}

	.wrap .thispage a::after{
		content: " ";
		background-color: #A0BD90;
		width: 60px; 
		height: 1px;
		display: block;
		margin-top: -5px;
		}

}

/* logo尺寸變小-RWD */
@media screen and (max-width: 767px){
	.logo_fix img{
		height: 70px;
	}

	.menubox .logo_fix{
		margin-left: 30px;
	}
}

/* 產品介紹下拉選單 */
/* 固定式版型 */
@media screen and (min-width: 576px) {
	.sub_nav{
		display: none;
	}
}

/* ------------- hover & show ------------- */

/* menu hover */
@media screen and (min-width: 576px) {
	.menu_tex:hover{
		background-image: url(../img/hover_leaf.png);
		background-repeat: no-repeat;
		background-position: 8px 35px;
	}
	
	.menu_tex:hover .btn_t{
		color: #A0BD90;	
	}
}


@media screen and (max-width: 575px){
	.product_block:hover .sub_nav{
		margin-top: 0px;
		/* display: block; */
		height: 185px;
		display: none;
	}
}

/* menu thispage */
.thispage .thispageleaf{
	display: block;
	position: absolute;
	top: 35px;
	left: 8px;
	color: #A0BD90;	
}

.wrap .thispage .btn_t{
	display: inline-block;
	margin-top: -10px;
}

@media screen and (max-width: 575px) {
	.menu_tex .thispageleaf{
	display: none;
  }

	.wrap .thispage .btn_t{
		display: inline-block;
		margin-top: 0px;
	}

	.menu_tex:hover{
		background-image: none;
	}

	.sub_nav{
		position: initial;
		top: 0px;
		backdrop-filter: blur(5px);
		display: none;
		/* display: block; */
		justify-content:right;
		margin-top: 0
	}
}

@media screen and (max-width: 575px){
	.sub_nav_li{
		display: block;
		padding: 0 30px;
		text-align: center;
	}

	.sub_nav_a{
		line-height: 50px;
	}
}

/* 漢堡選單 */


.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
	outline: none;
	width: 30px;
	height: 4px;
	background-color: #7B6363;

}

.menubox .hamburger {
	outline: none;
	position: absolute;
	top: 20px;
	right: 0;
	display: none;
}

@media screen and (max-width: 575px) {
.menubox .hamburger{
	display: inline-block;
}
}

.hamburger-box {
	position: relative;
	display: inline-block;
	width: 40px;
	height: 24px;
}

.menubox .hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner:after, .hamburger.is-active .hamburger-inner:before {
	background-color: #7B6363;
}

/*footer*/

.wrap .foot{
	height: fit-content;
	background-color: #C0A995;
	display: block;
	padding-top: 35px;
	padding-bottom: 35px;
  bottom: 0px;
	width: 100%;
} 

.foot_inner{
	display: block;
	display: flex;
	/* max-width: 1200px; */
	margin: 0 auto;	
	justify-content: space-between;	
}

.foot .btn{
	width: 45px;
	height: 45px;
	float: left;
	background-repeat: no-repeat;
	margin: 10px 8px 10px;
	background-position: 0 0;
}

.foot .ig{
	background-image: url(../img/icon_ig.png);
} 

.foot .pi{
	background-image: url(../img/icon_pi.png);
} 

.foot .yt{
	background-image: url(../img/icon_yt.png);
} 

.foot .fb{
	background-image: url(../img/icon_fb.png);
} 

.foot p{
	font-size: 13px;
	letter-spacing:1px;
	line-height: 15px;
	color:#FEF8EF;
	font-family: Arial;
	padding-left: 0px;
}

.foot .footlogo{
	margin-right: 0;
}



.foot .btn:hover{ 
	background-position: -45px 0;
}

@media screen and (min-width: 992px){
	.footlogo img{
		width: 200px;
	}
}
@media screen and (min-width: 576px) and (max-width: 991px){
	.footlogo img{
		width: 180px;
	}
}

@media screen and (max-width: 575px){
	.foot .btn{
		width: 25px;
		height: 25px;
		float: left;
		background-repeat: no-repeat;
		margin: 10px 4px 10px;
	}

	.foot .ig{
		background-image: url(../img/icons_ig.png);
	} 
	
	.foot .pi{
		background-image: url(../img/icons_pi.png);
	} 

	.foot .yt{
		background-image: url(../img/icons_yt.png);
	} 

	.foot .fb{
		background-image: url(../img/icons_fb.png);
	} 

	.footlogo img{
		width: 150px;
	}

	.foot p{
		font-size: 8px;
	}
	
	.foot .btn:hover{ background-position: -25px 0;}
}


/* breadcrumb */
.thispage{
	position: relative;
}

 /* 往下滑 */
.keyvisual{
	position: relative;
}

.scroll span {
  position: absolute;
  top: 85%;
  left: 50%;
  width: 30px;
  height: 50px;
  margin-left: -15px;
  border: 2px solid #FBEBCF;
  border-radius: 50px;
  box-sizing: border-box;
}
.scroll span::before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: '';
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #FBEBCF;
  border-radius: 100%;
  animation: sdb 2s infinite;
  box-sizing: border-box;
}

@keyframes sdb {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}